@media screen and (min-width: 996px) {
  .Portfolio__LayoutWrapper {
    grid-template-columns: 1fr 3fr;
    gap: 2rem;
  }

  .divider {
    position: absolute;
    top: 0;
    right: 0;
    width: 1px;
    height: 25rem;
    margin: 0;
  }

  .project-name {
    font-size: 0.9rem;
  }

  .Portfolio__PortfolioWrapper,
  .Portfolio__AboutWrapper {
    h1 {
      font-size: 3rem;
    }

    h2,
    h3 {
      font-size: 2rem;
    }
  }

  .Portfolio__Profile {
    img {
      height: 15rem;
      width: 15rem;
    }
  }
}
